@import "reset.css";
.l {
  float: left;
}
.r {
  float: right;
}
.m {
  margin: 0 auto;
}
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.box .header {
  width: 1024px;
  height: 39px;
  margin: 0 auto;
  padding-top: 5px;
  background: #323333;
}
.box .header h1 {
  float: left;
}
.box .header h1 a {
  width: 22px;
  height: 22px;
  background: null;
  margin-left: 32px;
  display: block;
  margin-top: 4px;
  float: left;
  background: url(../img/icon.png) no-repeat;
  background-position: -100px -50px;
}
.box .header h1 a:hover {
  background-position: -150px -50px;
}
.box .header span {
  width: 33px;
  height: 33px;
  background: null;
  margin-top: 0px;
  display: inline-block;
  background: url(../img/icon.png) no-repeat;
  background-position: -100px -450px;
  text-align: center;
  margin-left: 445px;
}
.box .main {
  margin-top: 32px;
  width: 100%;
  height: 100%;
  display: flex;
}
.box .main .left {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  border-right: 1px #e8e6e6 solid;
}
.box .main .left dl {
  position: absolute;
  top: 30px;
  right: 35px;
}
.box .main .left dl img {
  width: 303px;
  height: 293px;
}
.box .main .left dl dd {
  font-size: 18px;
  color: #333333;
  line-height: 35px;
}
.box .main .left dl dd .lf {
  float: left;
}
.box .main .left dl dd .rt {
  float: right;
}
.box .main .right {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
.box .main .right .all {
  height: 100%;
  position: absolute;
  top: 32px;
  left: 40px;
}
.box .main .right .all .title {
  width: 323px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px #dddcdc solid;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}
.box .main .right .all .kk {
  float: left;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  margin: 10px 0 0 10px;
}
.box .main .right .all .ins {
  font-size: 13px;
}
.box .main .right .all .user span {
  width: 22px;
  height: 23px;
  background-position: 0 -350px;
}
.box .main .right .all .user input {
  float: left;
}
.box .main .right .all .psd span {
  width: 20px;
  height: 24px;
  background-position: -50px -350px;
}
.box .main .right .all .psd input {
  float: left;
}
.box .main .right .all .ss1 {
  width: 323px;
  height: 48px;
  border: 1px #b5b5b5 solid;
  margin-top: 40px;
}
.box .main .right .all .ss1 input {
  width: 276px;
  height: 48px;
  border: 0;
  line-height: 48px;
  margin-left: 10px;
  outline: none;
}
.box .main .right .all .ss2 {
  width: 323px;
  height: 48px;
  line-height: 48px;
}
.box .main .right .all .log {
  width: 323px;
  height: 50px;
  line-height: 50px;
  background: #323333;
  margin-top: 20px;
  border: none;
  color: #fff;
  font-size: 15px;
}
.box .main .right .all .log:hover {
  background: #414141;
}
.box .main .right .all .log:active {
  background: #515151;
}
.box .main .right .all .reg {
  width: 323px;
  height: 50px;
  line-height: 50px;
  background: #323333;
  margin-top: 20px;
  border: none;
  color: #fff;
  font-size: 15px;
}
.box .main .right .all .left-one {
  float: left;
  color: #666666;
}
.box .main .right .all .left-one input {
  margin-right: 7px;
}
.box .main .right .all .right-one {
  float: right;
}
.box .main .right .all .right-one a {
  margin: 0 6px;
  font-size: 14px;
}
.box .main .right .all .right-one .a2 {
  color: #f2ba8a;
}
.box .main .right .all .san {
  width: 329px;
  height: 54px;
  border-top: 1px #dddcdc dashed;
  margin-top: 32px;
}
.box .main .right .all .san font {
  float: left;
  font-size: 14px;
  color: #666666;
  line-height: 50px;
}
.box .main .right .all .san div {
  float: right;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  margin: 15px 0 0 17px;
}
.box .main .right .all .san .ss3 {
  background-position: -100px -600px;
}
.box .main .right .all .san .ss3:hover {
  background-position: -150px -600px;
}
.box .main .right .all .san .ss2 {
  background-position: -100px -550px;
}
.box .main .right .all .san .ss2:hover {
  background-position: -150px -550px;
}
.box .main .right .all .san .ss4 {
  background-position: -100px -500px;
  border: none;
}
.box .main .right .all .san .ss4:hover {
  background-position: -150px -500px;
  border: none;
}
